<h3> Buscador </h3><br>
<form enctype="application/x-www-form-urlencoded" method="get" action="/quizes">
  <input type="text" name="search" placeholder="Escriba su búsqueda ..">
  <button type="submit">Buscar !</button>
</form>
<br>
<hr>	
	<% var i; for (i=0;i<quizes.length; i++){ %>
<a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a><br>
	<% } %>
<hr>	
<h4>Ultima búsqueda:</h4>
<%= searched %>