<h1>Login</h1>

<form method="post" action="/login">
  <label for="login">Usuario: </label><br>
  <input type="text" id="login" name="login" size="30" />
  <br><br>
  <label for="password">Contraseña: </label><br>
  <input type="password" id="password" name="password" size="30">
  <br><br>
  <button type="submit">Login</button>
</form>
